:root {
	--text-color: #242a45;
	--hover-color: #fa5959;
	--btn-color: #5267df;
	--gray-color: #9194a2;
	--white-color: #fff;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Regular.woff2') format('woff2'), url('../fonts/Rubik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Medium.woff2') format('woff2'), url('../fonts/Rubik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

*::after,
*::before,
* {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dashed var(--btn-color);
	outline-offset: 3px;
}

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	font-size: 1.8rem;
	color: var(--text-color);
}

.container {
	max-width: 1144px;
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-left: auto;
	margin-right: auto;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--text-color);
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

.btn {
	border: none;
	padding: 1.2rem 3.2rem;
	background-color: var(--hover-color);
	color: var(--white-color);
	border-radius: 0.8rem;
	box-shadow: 0px 8px 8px -4px #495dcf33;
	border: 2px solid transparent;
	cursor: pointer;
	font-size: 1.3rem;
	line-height: 1.3;
	letter-spacing: 0.15rem;
	transition: all 0.4s ease;
}

.btn:hover {
	border: 2px solid var(--hover-color);
	background-color: transparent;
	color: var(--hover-color);
}

.btn:active {
	opacity: 0.6;
}

.site-header {
	padding-top: 4.8rem;
	padding-bottom: 4.8rem;
}

.site-header__container {
	display: flex;
	align-items: center;
}

.site-logo {
	margin-right: auto;
}

.site-nav {
	display: flex;
	align-items: center;
	margin-right: 4.8rem;
}

.site-nav__item:not(:last-child) {
	margin-right: 4.4rem;
}

.site-nav__link {
	font-size: 1.3rem;
	line-height: 1.3;
	transition: all 0.4s ease;
	width: 149px;
	height: 25px;
}

.site-nav__link:hover {
	color: var(--hover-color);
}

.site-nav__link:active {
	opacity: 0.6;
}

.hamburger-icon {
	border: none;
	background-color: transparent;
	cursor: pointer;
	display: none;
}

/* MEDIA START */
@media screen and (max-width: 992px) {
	.btn {
		padding: 1.2rem 2.8rem;
	}

	.site-header {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.site-logo {
		margin-right: auto;
	}

	.site-nav {
		margin-right: 3.6rem;
	}

	.site-nav__item:not(:last-child) {
		margin-right: 3.6rem;
	}
}

@media screen and (max-width: 768px) {
	.btn {
		padding: 1rem 2.4rem;
	}

	.site-header {
		padding-top: 3.6rem;
		padding-bottom: 3.6rem;
	}

	.site-logo {
		margin-right: auto;
	}

	.site-nav {
		margin-left: 1rem;
		margin-right: 3rem;
	}

	.site-nav__item:not(:last-child) {
		margin-right: 3rem;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 1.5rem;
	}

	.btn {
		padding: 1rem 2rem;
	}

	.site-header {
		padding-top: 3.6rem;
		padding-bottom: 3.6rem;
	}

	.site-logo {
		margin-right: auto;
	}

	.site-nav {
		margin-left: 1rem;
		margin-right: 3rem;
	}

	.site-nav__item:not(:last-child) {
		margin-right: 3rem;
	}
}

@media screen and (max-width: 570px) {
	body {
		font-size: 1.3rem;
	}

	.btn {
		padding: 0.8rem 1.4rem;
	}

	.site-header {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.site-nav {
		margin-left: 1rem;
		margin-right: 1.4rem;
	}

	.site-nav__item:not(:last-child) {
		margin-right: 1.4rem;
	}
}

@media screen and (max-width: 500px) {
	body {
		font-size: 1.3rem;
	}

	.btn {
		display: none;
	}

	.site-header {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.site-nav {
		display: none;
	}

	.hamburger-icon {
		display: block;
	}
}
